* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: #25282A;
}

.container {
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    margin: auto;
}

.slider {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row-gap: 20px;
    align-items: center;
}

.slider__images {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;

}

.controls {
    display: flex;
    justify-content: flex-end;
}

.controls__item {
    padding: 5px 5px;
    cursor: pointer;
}

.controls__btn {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #71ABFF;
    border: 2px solid #71ABFF;
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s linear;
}

.controls__item:hover .controls__btn {
    background-color: #fff;
    border: 2px solid #fff;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: all .2s linear;
}

.slide img {
    width: 100%;
    height: 100%;

}

.slider__text {
    width: 100%;
    overflow: hidden;
}

.slider__text>.slides {
    width: 508%;
}

.slider__text>.slides>.slide {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

input {
    display: none;
}

#slide_1:checked ~ .slider>.slider__images>.slides>.slide.first {
    margin-left: 0;
}
#slide_1:checked ~ .slider>.slider__text>.slides>.slide.first {
    margin-left: 0;
}
#slide_1:checked ~ .slider>.controls>.controls__item>.controls__btn.cont_1 {
    background-color: transparent;
}

#slide_2:checked ~ .slider>.slider__images>.slides>.slide.first {
    margin-left: -20%;
}
#slide_2:checked ~ .slider>.slider__text>.slides>.slide.first {
    margin-left: -20%;
}
#slide_2:checked ~ .slider>.controls>.controls__item>.controls__btn.cont_2 {
    background-color: transparent;
}

#slide_3:checked ~ .slider>.slider__images>.slides>.slide.first {
    margin-left: -40%;
}
#slide_3:checked ~ .slider>.slider__text>.slides>.slide.first {
    margin-left: -40%;
}
#slide_3:checked ~ .slider>.controls>.controls__item>.controls__btn.cont_3 {
    background-color: transparent;
}

#slide_4:checked ~ .slider>.slider__images>.slides>.slide.first {
    margin-left: -60%;
}
#slide_4:checked ~ .slider>.slider__text>.slides>.slide.first {
    margin-left: -60%;
}
#slide_4:checked ~ .slider>.controls>.controls__item>.controls__btn.cont_4 {
    background-color: transparent;
}

#slide_5:checked ~ .slider>.slider__images>.slides>.slide.first {
    margin-left: -80%;
}
#slide_5:checked ~ .slider>.slider__text>.slides>.slide.first {
    margin-left: -80%;
}
#slide_5:checked ~ .slider>.controls>.controls__item>.controls__btn.cont_5 {
    background-color: transparent;
}

@media(max-width: 425px){
    .slider__text {
        width: 100%;
        overflow: hidden;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .controls {
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .slider__text>.slides>.slide {
        font-size: .8rem;
    }
}